.modal-title {
  font-family: 'Alleyn W01 Regular';
}

.modal-content {
  max-width: fit-content;
  max-height: fit-content;
  transition: max-width 2s, max-height 2s;
}

.background-watermark {
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.modal-content.extended-row {
  max-width: 1050px;
}

.modal-content.extended-column {
  max-height: 90vh;
  overflow-y: auto;
}

.extended-section {
  background-image: url(../images/pokeballs/ballopacity.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom -100px right -150px;
}

/* .modal-content.extended {
  max-height: 1050px;
  transition-duration: 2000ms;
} */
.extend-modal {
  position: absolute;
  right: 10px;
  top: 40%;
  transition-duration: 100ms;
  color: white;
  transform: rotate(0deg);
  transition: transform .5s linear;
  opacity: 0.2;
}

.extend-modal:hover {
  cursor: pointer;
  transition-duration: 200ms;
  filter: brightness(120%) saturate(240%);
  opacity: 1;
}

.notExtended:hover {
  color: #8de7a9;
}

.isExtended {
  color: #ac4f51;
  transform: rotate(180deg);
  transition: transform 1s linear;
}

.flavorBoxContainer {
  /* outline: 2px solid green; */
  height: 280px;
  justify-content: center;
  overflow: hidden;
}

.pokeDetail-type-tab {
  align-items: center;
  padding: 7px 15px;
  color: #fff;
  border-radius: 20px;
  margin: 10px 8px;
  text-transform: capitalize;
  line-height: 100%;
  font-size: .92rem;
  box-shadow: 4px 6px 15px rgb(0 0 0/70%);
}

.pokeDetail-info-container {
  width: 100%;
  position: absolute;
  left: 0px;
  /* display: absolute; */
  /* flex-direction: column; */
  color: #000;
  background-color: #fff;
  min-height: 280px;
  padding: 20px 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-bottom: 0;
}

.modal-return {
  transition-duration: 100ms;
}

.modal-return:hover {
  cursor: pointer;
  transform: translateX(-5px);
  transition-duration: 200ms;
}

.evoTitle {
  margin-top: 170px;
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Alleyn W01 Regular';
  text-transform: uppercase;
  text-decoration: underline;
}

.evoImg:hover {
  /* scale: 1.5; */
  /* transition-duration: 200ms; */
}

.pname {
  font-family: 'Alleyn W01 Regular';
  text-transform: capitalize;
}

.subtitle {
  color: #343a40;
  opacity: .65;
  font-weight: 700;
  width: 155px;
  justify-content: start;
  text-align: start;
  font-size: 0.95rem;
}

.description {
  color: #343a40;
  text-transform: capitalize;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
}

.content-moves {
  text-align: center;
  height: 170px;
}

.stat-name {
  color: #343a40;
  opacity: 0.65;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  width: 150px;
  font-size: 0.95rem;
  text-transform: uppercase;
  text-align: left;
}

.stat-value {
  color: #343a40;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.95rem;
}

.stat-bar-container {
  width: 100%;
  height: 4px;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  overflow: visible;
}

.stat-bar-parent {
  height: 100%;
  width: 50%;
  position: relative;
  transform: scaleX(0.001);
  transform-origin: left;
  animation: scaleBar 1500ms ease-in-out 1 forwards;
}

@keyframes scaleBar {
  0% {
    transform: scaleX(0.001);
  }

  100% {
    transform: scaleX(1);
  }
}

.stat-bar-fill {
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 10px;
  position: relative;
  left: -1%;
  transform: scaleX(0.01);
  transform-origin: top left;
  animation: fillBG 500ms ease-out 1 forwards;
}

@keyframes fillBG {
  0% {
    transform: scaleX(0.01);
  }

  100% {
    transform: scaleX(1);
  }
}

.stat-bar-bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 98%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.stat-bar-fill.grass {
  background: linear-gradient(to right,
      rgba(41, 255, 198, 0.75),
      rgba(32, 227, 178, 0.75),
      rgba(12, 235, 235, 0.75));
}

.stat-bar-fill.fire {
  background: linear-gradient(to right,
      rgba(245, 175, 25, 0.75),
      rgba(241, 39, 17, 0.75));
}

.stat-bar-fill.water {
  background: linear-gradient(to right,
      rgba(47, 128, 237, 0.75),
      rgba(86, 204, 242, 0.75));
}

.stat-bar-fill.electric {
  background: linear-gradient(90deg,
      rgba(250, 224, 120, 0.75),
      rgba(248, 208, 48, 0.75),
      rgba(247, 174, 18, 0.75));
}

.stat-bar-fill.bug {
  background: linear-gradient(to right,
      rgba(141, 194, 111, 0.75),
      rgba(118, 184, 82, 0.75));
}

.stat-bar-fill.dragon {
  background-image: linear-gradient(315deg,
      rgba(31, 209, 249, 0.65) 0%,
      rgba(182, 33, 254, 0.65) 74%);
}

.stat-bar-fill.fairy {
  background: linear-gradient(to right,
      rgba(255, 221, 225, 0.75),
      rgba(238, 156, 167, 0.75));
}

.stat-bar-fill.ghost {
  background: linear-gradient(to right,
      rgba(51, 51, 153, 0.75),
      rgba(255, 0, 204, 0.75));
}

.stat-bar-fill.ground {
  background: linear-gradient(to right,
      rgba(255, 212, 82, 0.75),
      rgba(84, 74, 125, 0.75));
}

.stat-bar-fill.ice {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0.75),
      rgba(109, 213, 250, 0.75),
      rgba(41, 128, 185, 0.75));
}

.stat-bar-fill.normal {
  background: linear-gradient(to right,
      rgba(222, 203, 164, 0.65),
      rgba(62, 81, 81, 0.65));
}

.stat-bar-fill.poison {
  background: linear-gradient(to right,
      rgba(253, 239, 249, 0.75),
      rgba(236, 56, 188, 0.75),
      rgba(115, 3, 192, 0.75));
}

.stat-bar-fill.psychic {
  background: linear-gradient(to right,
      rgba(75, 192, 200, 0.6),
      rgba(199, 121, 208, 0.6));
}

.stat-bar-fill.rock {
  background: linear-gradient(to right,
      rgba(209, 194, 125, 0.7),
      rgba(184, 160, 56, 0.7),
      rgba(120, 104, 36, 0.7));
}

.stat-bar-fill.steel {
  background: linear-gradient(90deg,
      rgba(209, 209, 224, 0.75),
      rgba(184, 184, 208, 0.75),
      rgba(120, 120, 135, 0.75));
}

.stat-bar-fill.fighting {
  background: linear-gradient(to right,
      rgba(227, 93, 91, 0.75),
      rgba(229, 57, 53, 0.75));
}

.stat-bar-fill.flying {
  background: linear-gradient(to right,
      rgba(142, 84, 233, 0.75),
      rgba(71, 118, 230, 0.75));
}

.stat-bar-fill.dark {
  background: linear-gradient(to right,
      rgba(161, 127, 224, 0.65),
      rgba(89, 193, 115, 0.65));
}