.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #ca4040;
  color: #fff;
  animation: shaking 0.5s infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.card-grid {
  margin-top: 40px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  /* outline: 2px solid red; */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}