.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: scaleX(-1);
}

.cardFlip .back {
  /* transform: rotateY(-180deg); */
}

.cardFlip .front {
  transform: rotateY(-180deg);
}

.cardFlip {
  transform: scaleX(-1);
}

.card:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2em #646cffaa);
}

.poke__number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  font-weight: 400;
  font-size: 25px;
  color: var(--pokenumber);
  font-family: 'Teko', sans-serif;
}

.info__icon {
  position: absolute;
  top: 20px;
  right: 5px;
  margin-right: 15px;
  margin-top: -4px;
  font-size: 25px;
  color: #fff;
  color: #ac4f51;
  color: #c53133 opacity: 0.5;
}

.info__icon:hover {
  opacity: 1;
}

.bg-color-normal {
  /* background-color: #A8A878; */
  background-color: #95afc0;
}

.bg-color-fire {
  /* background-color: #F08030; */
  background-color: #f0932b;
  color: #fff;
}

.bg-color-water {
  /* background-color: #6890F0; */
  background-color: #0190FF;
  color: #fff;
}

.bg-color-grass {
  /* background-color: #78C850; */
  background-color: #00b894;
}

.bg-color-electric {
  background-color: #F8D030;
}

.bg-color-ice {
  /* background-color: #98D8D8; */
  background-color: #74b9ff;
  color: #fff;
}

.bg-color-fighting {
  /* background-color: #C03028; */
  background-color: #30336b;
  color: #fff;
}

.bg-color-poison {
  /* background-color: #A040A0; */
  background-color: #6c5ce7;
}

.bg-color-ground {
  /* background-color: #E0C068; */
  background-color: #EFB549;
}

.bg-color-flying {
  /* background-color: #A890F0; */
  background-color: #81ecec;
  color: #fff;
}

.bg-color-psychic {
  /* background-color: #F85888; */
  background-color: #a29bfe;
  color: #fff;
}

.bg-color-bug {
  /* background-color: #A8B820; */
  background-color: #26de81;
}

.bg-color-rock {
  /* background-color: #B8A038; */
  background-color: #2d3436;
}

.bg-color-ghost {
  /* background-color: #705898; */
  background-color: #a55eea;
}

.bg-color-dragon {
  /* background-color: #7038F8; */
  background-color: #ffeaa7;
}

.bg-color-dark {
  background-color: #705848;
}

.bg-color-steel {
  background-color: #B8B8D0;
}

.bg-color-fairy {
  background-color: #F0B6BC;
  color: red;
  overflow: hidden;
}