.catch-ball {
  size: 1.4rem;
}

.catch-ball:hover {
  scale: 1.2;
}

.info__icon:hover {
  scale: 1.2;
}

.pokemonCard {
  justify-content: center;
  cursor: pointer;
  margin: 10px auto 0;
  width: 242px;
  height: 341px;
  perspective: 1000px;
  border-radius: 20px;
}

.card-container {
  transition: transform 0.5s ease 0s;
}

.card-container:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease 0s;
}

.card__header {
  margin-top: 10px;
}

.card-image {
  width: 100%;
  transition: .3s;
}

.back-image {
  width: 40%;
  transition: .3s;
}

.card-image:hover {
  scale: 1.4;
  transition: .3s;
}

.back-image:hover {
  scale: 1.4;
  transition: .3s;
}

.card__content {
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  height: 100%;
}

.card__image-container {
  position: relative;
  padding: 30px 30px 40px;
}

.pokemonName {
  font-family: "Alleyn W01 Regular", monospace;
  color: #000;
  letter-spacing: .1rem;
  text-align: center;
  font-size: small;
  /* font-size: .9rem; */
  text-transform: uppercase;
  font-weight: 300;
}

.type-icon:hover {
  filter: brightness(120%) saturate(240%);
}

.pokemonCard:hover:before {
  animation: animateBG 20s linear infinite;
}

@keyframes animateBG {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.grass:hover {
  box-shadow: 0px 0px 5px 10px #78c850;
  border-radius: 25px;
}

.fire:hover {
  box-shadow: 0px 0px 5px 10px #f08030;
  border-radius: 25px;
}

.water:hover {
  box-shadow: 0px 0px 5px 10px #6890f0;
  border-radius: 25px;
}

.electric:hover {
  box-shadow: 0px 0px 5px 10px #f8d030;
  border-radius: 25px;
}

.bug:hover {
  box-shadow: 0px 0px 5px 10px #a8b820;
  border-radius: 25px;
}

.dragon:hover {
  box-shadow: 0px 0px 5px 10px #7038f8;
  border-radius: 25px;
}

.fairy:hover {
  box-shadow: 0px 0px 5px 10px #ee99ac;
  border-radius: 25px;
}

.ghost:hover {
  box-shadow: 0px 0px 5px 10px #705898;
  border-radius: 25px;
}

.ground:hover {
  box-shadow: 0px 0px 5px 10px #e0c068;
  border-radius: 25px;
}

.ice:hover {
  box-shadow: 0px 0px 5px 10px #98d8d8;
  border-radius: 25px;
}

.normal:hover {
  box-shadow: 0px 0px 5px 10px #a8a878;
  border-radius: 25px;
}

.poison:hover {
  box-shadow: 0px 0px 5px 10px #a040a0;
  border-radius: 25px;
}

.psychic:hover {
  box-shadow: 0px 0px 5px 10px #f85888;
  border-radius: 25px;
}

.rock:hover {
  box-shadow: 0px 0px 5px 10px #b8a038;
  border-radius: 25px;
}

.steel:hover {
  box-shadow: 0px 0px 5px 10px #b8b8d0;
  border-radius: 25px;
}

.fighting:hover {
  box-shadow: 0px 0px 5px 10px #c03028;
  border-radius: 25px;
}

.flying:hover {
  box-shadow: 0px 0px 5px 10px #a890f0;
  border-radius: 25px;
}

.dark:hover {
  box-shadow: 0px 0px 5px 10px #3a2d26;
  border-radius: 25px;
}