.title {
  font-family: "Alleyn W01 Regular", monospace;
  font-weight: 700px;
  color: #3a6bb7;
  height: 30px;
}

.pokemon-name, .pokemon-type {
  text-transform: capitalize;
}

.title {
  font-weight: bold;
  white-space: nowrap;
}

.info-value {
  word-wrap: break-word;
}